<!DOCTYPE html>
  <html>
  
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  
    <title>Smart Mobiles</title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  </head>
  
  <body>
    <!-- detail section -->
    <section class="detail_section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <div class="detail_img-box">
              <img src="/assets/detail.png" alt="" class="w-100" />
            </div>
          </div>
          <div class=" col-lg-7">
            <div class="detail_container">
              <div class="detail-box d-box-1">
                <a href="">
                  <div class="detail-content">
                    <img src="/assets/d1.png" alt="" />
                    <h5>
                      smart
                    </h5>
                  </div>
                </a>
              </div>
              <div class="detail-box d-box-2">
                <a href="">
                  <div class="detail-content">
                    <img src="/assets/p9.png" alt="" />
                    <h5>
                      smarter
                    </h5>
                  </div>
                </a>
              </div>
              <div class="detail-box d-box-3">
                <a href="">
                  <div class="detail-content">
                    <img src="/assets/p6.png" alt="" />
                    <h5>
                      Smartest
                    </h5>
                  </div>
                </a>
              </div>
              <div class="detail-box d-box-4">
                <a href="">
                  <div class="detail-content">
                    <img src="/assets/d-4.png" alt="" />
                    <h5>
                      Sale
                    </h5>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end detail section -->
  
    <!-- products section -->
    <section class="products_section">
      <div class="heading_container">
        <h2>
          New Products In Store
        </h2>
        <p>
          Featured Product Just Arrived
        </p>
      </div>
      <div class="container layout_padding">
        <div class="product_container">
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p1.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 8499/-
                </span>
                <p>
                  Samsung A1
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p2.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 13,499/-
                </span>
                <p>
                  Vivo Y95
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p3.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 16,499/-
                </span>
                <p>
                  Vivo z15
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p4.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 13,999/-
                </span>
                <p>
                  Oppo f19 pro
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p5.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 12,999/-
                </span>
                <p>
                  Redmi A7
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="assets/p6.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 54,499/-
                </span>
                <p>
                  iphone 13 mini
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p7.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 65,499/-
                </span>
                <p>
                  one plus 10 pro
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p8.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 1,14,499/-
                </span>
                <p>
                 iphone 14 pro
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p9.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 39,999/-
                </span>
                <p>
                  Oppo Reno 8
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p10.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 16,499/-
                </span>
                <p>
                  Vivo T1
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p11.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                 ₹ 1,18,499/-
                </span>
                <p>
                  Samsung S23 ultra
                </p>
              </div>
            </div>
          </a>
          <a href="">
            <div class="product_box">
              <div class="product_img-box">
                <img src="/assets/p12.png" alt="" />
                <span>
                  Sale
                </span>
              </div>
              <div class="product_detail-box">
                <span>
                  ₹ 79,499/-
                </span>
                <p>
                  Samsung Z fold4
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  
    <!-- end products section -->
  
    <!-- find section -->
    <section class="find_section layout_padding-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-8 offset-md-2">
            <div class="find_container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="find_container-img">
                    <img src="/assets/find-img.png" alt="" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <h3>
                    Find Everything <br />
                    From A to Z
                  </h3>
                  <p>
                    Shop
                  </p>
                </div>
              </div>
            </div>
            <div class="shop_container">
              <div class="row">
                <div class="col-sm-6">
                  <p>
                    Mobiles
                  </p>
                  <h3>
                    Shop by catagories
                  </h3>
                  <div>
                    <a href="">
                      View More
                    </a>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="shoe_img-box">
                    <img src="/assets/shoes.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="find_img-box">
              <img src="/assets/find-banner.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end find section -->
      <div class="container">
        <div class="item_container">
          <div class="row">
            <div class="col-sm-7">
              <h3>
                Best offers on any Mobiles
              </h3>
              <p>
                Festival season
              </p>
              <div>
                <a href="">
                  Shop Now
                </a>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="item_img-box">
                <img src="/assets/lotmobiles.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end client section -->
  
    <!-- sign section -->
    <section class="sign_section layout_padding2">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h3>
              Sign up for Newsletter
            </h3>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered
            </p>
          </div>
          <div class="col-md-7">
            <form action="">
              <input type="email" placeholder="Enter your email" />
              <button>
                Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
  
    <!-- end sign section -->

    </body>
    </html>