<br/><strong><div class = "center_purchase">
Thank you for shopping with us!<br /><br/><br/><br/>
	
your order has been processed.<br /><br/><br/><br/>

A detailed email has been sent.<br /><br/></strong>
</div>
<div class="center_hello">
<button><a href="/gallery/index">Click here to continue the shopping</a><button></div>